<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="dynatrace-outsystems-plugin" version="1.0">
  <name>Dynatrace</name>
  <description>Dynatrace Outsystems Plugin</description>

  <hook src="hooks/Outsystems/npmInstall.js" type="before_plugin_install"/>
  <hook src="hooks/Outsystems/copyConfig.js" type="before_prepare"/>

  <dependency id="@dynatrace/cordova-plugin" version="1.213.0" />
</plugin>